body{
    margin: 0;
    padding: 0;
    color:#333;
    font-family:arial;
    background:white;
}
input,textarea,select{
    font-size:12px;
    font-size:100%;
    font-family:arial;
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
/* h4,h5,h6{
    font-size:1em;
} */
ul,ol{
    padding-left:0;
    list-style-type:none;
}
a{
    text-decoration: none;
    outline: none;
    -moz-outline-style: none; 
}


a, b, blockquote, body, button, caption, dd, del, div, dl, dt, em, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, i, ins, legend, li, menu, ol, p, pre, s, span, strong, table, td, textarea, th, u, ul {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}

a img{border:0;}
img{border:0;}